.login-container {
  display: flex;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.login-left,
.login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.login-left {
  flex: 0 0 45%;
  background-color: white;
  border-right: 1px solid white;
}

.login-left .brand {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  margin-left: 160px;
}

.login-left .brand .logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.login-left .brand h1 {
  margin: 0 10px;
  font-size: 24px;
  font-weight: 400;
  color: #800000;
}

.login-left h2 {
  margin: 0 160px 10px;
  font-size: 64px;
  text-align: center;
  color: black;
}

.login-right {
  flex: 0 0 60%;
  background-color: #800000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  background-color: white;
  padding: 54px 60px;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.login-right form {
  width: 100%;
  max-width: 100%;
}

.login-right h1 {
  margin-bottom: 10px;
  color: black;
}

.login-right h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.goto-signup {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
  width: 352px;
  color: black;
  transition: 0.8s;
  font-size: 16px;
  font-weight: 500;
}

.goto-signup:hover {
  background-color: #800000;
  color: white;
  border: none;
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 14px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
  width: 22px;
  height: 22px;
}

.checkbox-group label {
  color: #1c1c1c;
  font-size: 16px;
  margin-top: 5px;
}

.checkbox-group a {
  text-decoration: underline;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 600;
}

.checkbox-group a:hover {
  color: black;
}

.login-button {
  width: 60%;
  padding: 14px;
  border: none;
  cursor: pointer;
  border-radius: 28px;
  margin: 100px 65px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-button:hover {
  background-color: #800000;
}
