.payment-proof-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.875rem;
  color: gray;
  margin-bottom: 20px;
}

.qr-code {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.qr-code-info {
  font-size: 1rem;
  margin-bottom: 5px;
}

.qr-code-id {
  font-size: 0.875rem;
  color: gray;
}

.upload-area {
  border: 2px dashed #800000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.upload-area:hover {
  background-color: #f1f1f1;
}

.upload-area p {
  margin: 10px 0;
}

.upload-button {
  padding: 10px 20px;
  background-color: #800000;
  color: #ffffff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #660000;
}

.upload-area a {
  color: #800000;
  text-decoration: underline;
}

.upload-area a:hover {
  color: #660000;
}

.preview-image-small {
  max-width: 200px; /* Set a maximum width for the image */
  max-height: 200px; /* Set a maximum height for the image */
  margin-top: 10px; /* Adjust margin top if needed */
}
